<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>User Login</title>
<!-- <link rel="stylesheet" href="{% static 'css/register.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicons/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicons/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicons/manifest.json' %}"> -->
<meta name="msapplication-TileColor" content="#ffffff">
<!-- <meta name="msapplication-TileImage" content="{% static 'favicons/ms-icon-144x144.png' %}"> -->
<meta name="theme-color" content="#ffffff">
<script src="{% static 'js/jquery-1.8.2.js' %}"></script>
<script src="{% static 'js/mfs100-9.0.2.6.js' %}"></script>

<script language="javascript" type="text/javascript">
var quality = 60; // (1 to 100) (recommended minimum 55)
var timeout = 10; // seconds (minimum=10(recommended), maximum=60, unlimited=0 )
var flag = 0;

function Match() {
    try {
        // Get the fingerprint from the server
        $.ajax({
            url: "{% url 'get_fingerprint' %}",
            method: "GET",
            success: function(data) {
                var isotemplate = data.fingerprint;
                var res = MatchFinger(quality, timeout, isotemplate);
                
                if (res.httpStaus) {
                    if (res.data.Status) {
                        alert("Finger matched");
                        flag = 1;
                        document.getElementById("fingerprint_matched").value = '1';
                    } else {
                        if (res.data.ErrorCode != "0") {
                            alert(res.data.ErrorDescription);
                        } else {
                            alert("Finger not matched");
                        }
                    }
                } else {
                    alert(res.err);
                }
            }
        });
    } catch (e) {
        alert(e);
    }
    return false;
}

function redirect() {
    if (flag) { 
        return true; 
    } else {
        alert("Scan Your Finger");
        return false;
    }
}
</script>
</head>
  <div class="header">
    <!-- <img class="left" src="{% static 'favicons/apple-icon-60x60.png' %}" height="40" width="40"> -->
  </div>
  <div class="register_panel">
    <div class="panel panel-primary">
        <div class="panel-heading font"></div>
        <div class="panel-body">
            <form method="post" name="myForm" action="{% url 'user_login' %}" onsubmit="return redirect()">
                {% csrf_token %}
                <input type="hidden" id="fingerprint_matched" name="fingerprint_matched" value="0">
                
                <div class="hide">
                  <table>
                    <tr>
                      <td>Base64Encoded ISO Image</td>
                      <td><textarea id="txtIsoTemplate" style="width: 100%; height:50px;" class="form-control"></textarea></td>
                    </tr>
                  </table>
                </div>
               
                <div class="finger_print padd fingerpadd" style="border:solid">
                    <div>
                        <figure>
                            <img src="https://www.larsonjewelers.com/Images/larson-jewelers-fingerprint-engraving-ring.png" alt="finger_print" width="100" height="100">
                        </figure>
                    </div>
                    <div>
                        <button type="button" onclick="return Match()" class="btn btn-default padd">Start Scanning</button>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg padd submit_button_padding btn-block" name="submit">Submit</button>
                </div>
            </form>
        </div>
     </div>
  </div>

